:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.8em 1em;
  border-radius: 20rem;
  font-size: 0.8rem;
  font-family: inherit;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}
button:hover {
  background-color: #0372e9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 2.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.account {
  font-size: 0.8rem;
  color: #ffffff;
}

/* Hero Content */
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000000;
  margin: 4rem auto;
}

.background_image {
  width: 400px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* Circle */
.circle {
  /* display: none; */
  position: absolute;
  width: 50rem;
  height: 50rem;
  border: 1px solid #00000021;
  border-radius: 50%;
  bottom: -20rem;
  right: -20rem;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 2em 3em;
  border-radius: 1em;
  border: 1px solid #00000021;
  margin: 0 auto;
}

.lists{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 2em 3em;
  border-radius: 1em;
  border: 1px solid #00000021;
  margin: 0 auto;
}

/* Select Options */
option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
}

/* Style when option is hovered */
option:hover {
  background-color: #f0f0f0; /* Hover background color */
}
