.add-book-title {
  font-size: 2rem;
  font-weight: semibold;
  margin: 0;
  margin-bottom: 1rem;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 0.8em;
}

.add-input {
  min-width: 20rem;
  padding: 1em 1.2em;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-input:focus {
  outline: solid 1px #007bff;
}

/* Hide the default arrow */
.add-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1em 1.2em;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 12px auto;
  padding-right: 24px; /* Adjust as needed */
}
