.book-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  position: relative;
}

.book-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.book-content h3 {
  font-size: 2.8rem;
  line-height: 90%;
  margin: 0;
}

.book-content p.author {
  font-size: 0.8rem;
  text-align: right;
}

p.year {
  font-size: 0.6rem;
  position: absolute;
  bottom: 2%;
  right: 8%;
}

.more-book-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 4%;
  left: 0;
}

.book-id {
  font-size: 0.8rem;
  margin-left: 1.2em;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-bool-read {
  margin-right: 2em;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;
}
